* {
  margin  : 0;
  padding : 0;
  outline : none;
}

ul {
  list-style : none;
}

body {
  font-family : 'Microsoft Yahei', '宋体', "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
  font-size   : 100%;
  line-height : 1.7;
}

h1 {
  color               : #018F4A;
  font-size           : 140%;
  text-transform      : uppercase;
  background-image    : url('../images/inc_split.png');
  background-repeat   : no-repeat;
  background-position : bottom center;
  text-align          : center;
  padding             : 15px;
  margin              : 30px 0;
}

p {
  color : #062033;
}

dl {
  display : inline-block;
  margin  : 25px 15px;
}

dt, dd, dd span {
  display : block;
}

dd {
  text-align  : center;
  font-size   : 110%;
  font-weight : bold;
  line-height : 150%;
  margin-top  : 10px;
}

dd span {
  font-size   : 90%;
  font-weight : normal;
}

.container {
  display  : block;
  position : relative;
}

.wrapper {
  display      : block;
  position     : relative;
  width        : 1130px;
  margin-left  : auto;
  margin-right : auto;
}

.wrapper:before,
.wrapper:after,
.container:before,
.container:after {
  content : '';
  display : table;
  clear   : both;
}

.tab-header {
  display    : block;
  width      : 800px;
  margin     : 30px auto 15px;
  text-align : center;
}

.tab-header a {
  display         : inline-block;
  padding         : 5px 15px;
  font-size       : 110%;
  color           : #062033;
  text-decoration : none;
}

.tab-content {
  text-align : center;
}

.tab-content img {
  margin   : 0;
  position : relative;
  width    : 275px;
  height   : 205px;
  display  : inline-block;
}

.tab-header a.active {
  background            : #009B4C;
  color                 : white;
  border-radius         : 5px;
  -moz-border-radius    : 5px;
  -webkit-border-radius : 5px;
}

/* nav */
#nav {
  background : #212464;
  height     : 60px;
  position   : fixed;
  top        : 0;
  z-index    : 10;
  left       : 0;
  right      : 0;
}

#nav #logo {
  float    : left;
  position : relative;
  left     : 30px;
}

#nav #logo span {
  position     : absolute;
  font-size    : 85%;
  color        : #32B0EE;
  border-left  : 1px solid #273853;
  padding-left : 20px;
  margin-left  : 10px;
  left         : 160px;
  top          : 20px;
  white-space  : nowrap;
}

#nav .nav-bar {
  float : right;
}

#nav .nav-bar li {
  float    : left;
  position : relative;
  padding  : 20px 0;
}

#nav .nav-bar a {
  display         : block;
  padding         : 0 20px;
  border-right    : 1px solid #273853;
  color           : white;
  text-decoration : none;
}

#nav .nav-bar li:last-child a {
  border-right : none;
}

#nav .nav-bar .active:before {
  content    : '';
  display    : block;
  position   : absolute;
  height     : 3px;
  width      : 30px;
  background : #285C9B;
  top        : 0;
  right      : 20px;
}

/* banner */
#banner {
  background : #D8DBE3;
  margin-top : 60px;
  height     : 515px;
}

#banner .unslider-arrow {
  text-indent   : -9999px;
  position      : absolute;
  top           : 40%;
  height        : 71px;
  width         : 71px;
  border-radius : 71px;
  z-index       : 100;
}

#banner .unslider-arrow.prev {
  left             : -35px;
  background-image : url('../images/inc_left.png');
}

#banner .unslider-arrow.next {
  right            : -35px;
  background-image : url('../images/inc_right.png');

}

#banner .slider {
  position : relative;
  overflow : auto;
}

#banner .slider ul li {
  float : left;
}

#banner .dots {
  display    : block;
  position   : relative;
  text-align : center;
  top        : -100px;
}

#banner .dot {
  display               : inline-block;
  text-indent           : -999px;
  height                : 10px;
  width                 : 10px;
  float                 : none;
  background            : white;
  font-size             : 0;
  border                : 1px solid #CCCCCC;
  margin                : 10px;
  border-radius         : 10px;
  -moz-border-radius    : 10px;
  -webkit-border-radius : 10px;
  opacity               : .5;
}

#banner .dot.active {
  opacity : 1;
}

/* about */
#about {
  background     : #F4F7F9;
  padding-bottom : 50px;
}

#about p {
  display   : block;
  margin    : 10px auto 0;
  width     : 800px;
  font-size : 110%;
}

/* project */
#project p {
  text-align : center;
  font-size  : 110%;
}

#project p.en {
  font-size   : 100%;
  line-height : 110%;
  margin-top  : 5px;
}

#team {
  text-align : center;
}

#team p {
  font-size : 110%;
}

/* contact */
#contact {
  background : #018F4A;
  padding    : 30px 0;
}

#content h3 {
  font-size : 110%;
}

#contact p {
  font-size : 90%;
}

#contact h3, #contact p {
  padding-left : 5px;
}

#contact h3, #contact p, #contact img {
  color       : white;
  margin-left : 80px;

}

#contact .weixin-code {
  position : absolute;
  right    : 50px;
  top      : 20px;
}